<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hero</title>
  </head>
  <body>
    <section class="hero">

      <div class="culture">
        <a href="#">
<icon class="label" src="assets/svg/culture_default.svg"></icon>
</a>
</div>


  <div class="hero_content">
     <div class="hero_title_sub">
    <h1 class="hero__title">"I've been second my whole life"</h1>

  <p class="hero__chapo">
    Deuxième au lycée, deuxième à la draft, deuxième au vote du MVP.
    Kevin Durant a passé des années dans l'ombre d'un autre, jusqu'à
    faire de cette place une obsession.
  </p>
</div> 
  <div class="hero__meta">
    <span>18 mars</span>
    <span>Julien Pedrini</span>
    <span>5 min</span>
  </div>
    <include src="components/button.html"></include>
  </div>

  </body>
</html>
